*.csproj
*.sln
.DS_Store
.idea

/builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/project/**/Assets/GaussianAssets/*
/project/**/Assets/GaussianAssets.meta
/project/**/Assets/Models~/*
/project/**/Library/*
/project/**/Logs/*
/project/**/Temp/*
/project/**/UserSettings/*
/project/**/obj/*
